body {
			font-family: Georgia, serif;
			background-image: url('background.png');
			margin: 0;
			padding: 0;
			background-color: #FFFF2A15;
		}
		/* تنسيق العنوان */
		h1 {
			text-align: center;
			border-bottom-style: 10px;
			padding: 10px;
			
			margin: center;
			font-size: 21px;
			color: #fff;
			margin: 0;
		}
		/* تنسيق القائمة */
		
		/* تنسيق الروابط في القائمة */
		
		li a {
			display: block;
			border-radius: 10px;
			color: white;
			text-align: right;
			padding: 14px 16px;
			text-decoration: none;
		}
		li a:hover {
			background-color: #111;
		}
		/* تنسيق الصور */
		img {
			width: auto;
			height: 150px;
			border-radius: 15px;
			display: block;
			margin: center;
			
			
		}
		
		/* تنسيق العناصر الرئيسية */
		.container {
			display: flex;
			
			flex-wrap: wrap;
			display: grid;
		grid-template-columns: repeat(2, 1fr);
		
		
			justify-content: center;
		}
		.item {
	
			max-width: auto;
			border-radius: 10px;
			height: auto;
			background: linear-gradient(to  top, #fdebd0, #c5eff7);
			margin: 10px;
			padding: 10px;
			background-color: #fff;
			box-shadow: 0px 0px 0px #ccc;
			text-align: center;
		}
		.item h2 {
			font-size: 15px;
			margin-top: 0;
		}
		.item p {
			font-size: 15px;
			margin-bottom: 0;
		}
		.item button {
			margin-top: 0px;
			border-radius: 10px;
			padding: 10px auto;
			background-color: #333;
			color: #fff;
			border: none;
			cursor: pointer;
			font-size: 18px;
			transition: background-color 0.3s;
		}
		.item button:hover {
			background-color: #111;
		}
		
		#img1 {
	width: auto;
	margin: center;
	height: 55px;
	
	
}
#txt {
	
	font-size: 18px;
	width: 150%;
	margin-left: 25%;
	
	
}
.loader {
  position: relative;
  margin: 0 auto;
  width: 100px;
}
.loader:before {
  content: "";
  display: block;
  padding-top: 700%;
}

.circular {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@-webkit-keyframes color {
  100%, 0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%, 90% {
    stroke: #ffa700;
  }
}
@keyframes color {
  100%, 0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%, 90% {
    stroke: #ffa700;
  }
}
body {
  background-color: #eee;
}

.showbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
}
